.dashboard-text-messages{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: visible;
}

.dashboard-text-messages::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: var(--color-tan);
    z-index: -1;
    pointer-events: none;
}