.message-card{
  width: 565px;
  height: auto;
  max-height: 750px;
  border: 1px solid #6F4D38;
  box-shadow: 0 2px 5px #6f4d385d;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 345px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.message-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px #6f4d385d;
}
