/* src/Styles/colors.css */
:root {
    --color-white: #FFFFFF;
    --color-brown: #6F4D38;
    --color-blue-gray: #617891;
    --color-dark-blue: #25344F;
    --color-red: #632024;
    --color-tan: #D5B893;

    --background-header-footer: var(--color-dark-blue);

    --text-logo: var(--color-white);
    --text-auth-input: var(--color-red);
    --text-section-h1: var(--color-blue-gray);
    --text-paragraph-default: var(--color-dark-blue);
    --text-paragraph-accent: var(--color-tan);
    --text-link-nav: var(--color-tan);
    --text-on-dark-background: var(--color-white);

    --button-primary-bg: var(--color-brown);
    --button-primary-text: var(--color-tan);
    --button-not-primary-bg: var(--color-tan);
    --button-non-primary-text: var(--color-brown);
    --button-non-primary-border: var(--color-brown);
    --button-auth-bg: var(--color-dark-blue);
    --button-auth-text: var(--color-tan);
    --button-auth-border: var(--color-tan);

    --icon-color: var(--color-red);

    --link-hover-background: var(--color-blue-gray);
    --link-hover-text: var(--color-white);

    --br-tag-related-color: var(--color-red);
}