@import './colors.css';

html{
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background-color: var(--color-white);
  color: var(--color-dark-blue);
}

h1,h2,h3{
  font-family: 'Inria Serif',serif;
  line-height: 1.2;
  margin-top: 1em;
  font-weight: bold;
}
h2{
  color: var(--text-paragraph-default);
  font-size: 36px;
}
h3{
  color:var(--color-red);
  font-size: 34px;
}
h1{
  color:var(--text-section-h1);
  font-size: 62px;
}
p{
  color: var(--text-paragraph-default);
}
