.section-container{
    padding: 4em 6em;
    display: flex;
    gap: 2em;
}
.text-content{
    display: flex;
    flex-direction: column;
    gap: 2em; 
    max-width: 670px;
}
.notPrimary{
    max-width: 200px;
    width: fit-content;
}
hr{
    /* margin: 20px 0px; */
    width: 200px;
    border: 5px solid var(--color-red);
    border-radius: 10px;
}
h1{
    color: #617891;
    font-family: 'Inria Serif', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 62px;
}
p{
    color: #25344F;
    font-family: 'Inria Serif', Arial, Helvetica, sans-serif;
    font-size: 24px;
}
img{
    width: 535px;
    height: 440px;
    object-fit: cover;
}
@media (max-width: 600px) {
.section-container{
    flex-direction: column;
}
}